forkdns should return NODATA instead of NXDOMAIN when unable to resolve (e.g. IPv6)

# Required information

 * Distribution: Armbian
 * Distribution version: Ubuntu Bionic
 * Kernel version: 4.14.150
 * LXC version: 4.0.6
 * LXD version: 4.0.4

# Issue description

Forkdns replies NXDOMAIN for IPv6 requests, even if an IPv4 is available.

Some resolvers interpret this as a domain name failure and ignore the IPv4 result.
See for instance the [following bug report on Alpine 3.13](https://gitlab.alpinelinux.org/alpine/aports/-/issues/12358).
See [RFC 8020](https://tools.ietf.org/html/rfc8020).

# Suggestion

In my understanding, RcodeNameError (NXDOMAIN) in https://github.com/lxc/lxd/blob/master/lxd/main_forkdns.go means "the domain definitely does not exist". It should be possible to return NODATA instead of NXDOMAIN ([RFC 2308, section 2.2](https://tools.ietf.org/html/rfc2308#section-2.2)) when the IP could not be found locally:

> NODATA is indicated by an answer with the RCODE set to NOERROR and no
   relevant answers in the answer section.  The authority section will
   contain an SOA record, or there will be no NS records there.

# Steps to reproduce

 1. Setup a LXD cluster with two nodes (say A with IP 192.168.1.1 and B with IP 192.168.1.2)
 2. Setup a network "testnet" on the two nodes
 3. Create a container "alpha" on node A with net "testnet"
 4. Create a container "bravo" on node B with net "testnet"
 5. On any host, run `dig alpha.testnet @192.168.1.1 AAAA`: this directly uses the local dnsmasq, and returns `status: NOERROR`
 6. On any host, run `dig alpha.testnet @192.168.1.2 AAAA`: this uses forkdns (from my understanding) and returns `status: NXDOMAIN`


