Failed container creation: Container name isn't a valid hostname

LXD v3.0
Ubuntu Bionic

If you run e.g. `lxc init ubuntu:xenial 666demonserver` - as a contrived example - LXD fails with the message `Error: Failed container creation: Container name isn't a valid hostname.` I have searched high and low in various documentation and specs for what qualifies as a valid hostname, and my example here most certainly is a valid hostname.

What gives? What are the rules here? Do you have this documented somewhere (could not find it) ?

It would be good to know what to look out for exactly, as I am allowing users to create containers with arbitrary names. It seems to me that the rule I'm hitting here is that a container name cannot start with numbers. Any other weirdness I should be aware of here?

Thanks..!


The constraints on the container name is the most restrictive set of conditions for a valid hostname in POSIX and in DNS, which effectively means:
 - 1 to 63 char long
 - ASCII letters set (including dashes)
 - No digits as first character
 - No dashes as first or last character

It's effectively a mix of RFC952, RFC1123 and RFC1178

Awesome - Thank you for the clarification..! :)